#logo {width: 50px; float: left;}
#Carrito{float: right; margin-top: 10px; margin-right: 7px;}

body {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(32, 32, 32);
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgb(38, 38, 38);
    color: #fff;
    padding: 20px;
    text-align: right;
    opacity: 0.9;
}